<nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
  <div class="nav navbar-nav">
      <a class="nav-item nav-link"
         [routerLinkActiveOptions]="{exact: true}"
         routerLink="/" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Products</a>
  </div>

  <div class="nav navbar-nav">
      <span *ngIf="user" class="mr-2 text-white">{{user.username}}</span>
      <button (click)="user ? logout() : login()" class="btn btn-danger">
        {{user ? 'Logout' : 'Login' }}</button>
  </div>

</nav>
