<nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
  <div class="nav navbar-nav">
      <a class="nav-item nav-link"
         [routerLinkActiveOptions]="{exact: true}"
         routerLink="/" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Products</a>
  </div>

  <div class="nav navbar-nav">
    <ng-container *ngIf="user$ | async as user; else loginBtn">

      <span  class="mr-2 text-white">{{user.username}}</span>
      <button (click)="logout()" class="btn btn-danger">Logout</button>
    </ng-container>
    <ng-template #loginBtn>
      <button (click)="login()" class="btn btn-danger">Login</button>
    </ng-template>
  </div>

</nav>
