
<ng-template [appTest]="showTest" #directive="test">
  <p >test works!</p>
</ng-template>
<button (click)="directive.clear()">clear</button>
<li>6767</li>
<ng-template *ngIf="false">
  <li>76</li>
  <li>767</li>
</ng-template>
<li>7676</li>

<li>76</li>
<div *appPermissions="'admin'">Only for admin</div>

<button type="button" (click)="changeChildren()" class="btn btn-outline-primary">Change child</button>
<app-child></app-child>
<app-child></app-child>
<app-child></app-child>
<app-child></app-child>
